<h1 id="main-title">Pokedex</h1>

<h2><%= link_to "Trainers", trainers_path %></h2>
<h2>Random Pokemon</h2>

<% if @pokemons.exists? %>
  <div class="grid">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %>
  <% end %>
  </div>
<% else %>
  <p>There are no Pokemons in the Pokedex</p>
<% end %>
