<%= link_to trainer_path(trainer) do %>
  <div class="trainer-card">
    <%= cl_image_tag trainer.photo.key %>
    <h2><%= trainer.name %></h2>
    <span><%= trainer.age %> years old</span>
  </div>
<% end %>
